nav {

    background-color: #1e88e5;
    
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #1e88e5;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    width: 230px;
}